body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 90vh;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holder{
   height: 500px;
   width: 300px;
   border-radius: 40px;
   background-color: #8559a5;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: inset 0 0 20px 3px black;
   -webkit-box-reflect: below 8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
}

/* wheel */
.wheel-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
}

.wheel {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #723881;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 5px #ccc;
  -moz-box-shadow: 0px 0px 5px 5px #ccc;
  box-shadow: 0px 0px 5px 5px #ccc;
  
  
}


.controls {
  color: rgb(210, 210, 210);
  font-weight: 900;
  position: absolute;
  
}

#menu-btn {
  left: 38%;
  top: 11%;
  font-weight: 900;
  font-size: 18px;
  width: 40px;
  height: 20px;
}

#reverse-btn {
  left: 10%;
  top: 45%;
  font-size: 23px;
}

#forward-btn {
  right: 10%;
  top: 45%;
  font-size: 23px;
}

#play-pause-btn {
  bottom: 11%;
  left: 44%;
  width: 40px;
  height: 20px;
}

.centre-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(210, 210, 210);
  position: absolute;
  left: 31%;
  top: 30%;
  cursor: pointer;
}

/* display */
.display {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 210px;
  margin-top: 25px;
  border: 1.5px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

/* navbar */
.navbar {
  margin-top: 0px;
  display: flex;
  width: 250px;
  height: 20px;
  min-height: 20px;
  background-color:black;
  border-bottom: 1px solid rgb(66, 65, 65);
  
}

.play-pause-noty{
  font-size:x-small;
  color: white;
  padding : 0px;
  margin: 3px 2px;
  margin-left:30px;  
  width:5px;
}

.time {
    margin: 1px 5px;
    padding: 0px;
    color: white;
    font-size: smaller;
    width: 10px;
   font-family: "Comic Sans MS", cursive,sans-serif;

}

.battery{
  color: white;
  width: 22px;
  height: 22px;
  margin-left: 170px;
  padding: 0px;
  margin-top: -2px;
  font-size: medium;
}

.song-noty{
  background-color: white;
  height: 15px;
  width: 200px;
  margin-left: 30px;
  margin-top: 3px;
  text-align: center;
  
}

/* display */
.void{
   width: 250px;
   height: 210px;
   background-color: #709fb0;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

/* main-menu */
.menu-container {
  display: flex;
}

.menu {
  background-color: #709fb0;
  height: 190px;
  width: 125px;
}

.side {
  border-left: 2px solid black;
  background-color: #709fb0;
  height: 190px;
  width: 125px;
}


.ipod{
  margin-left: 2px;
  padding : 0px;
  margin-top:6px;
  color: #020a14;
  font-family: "Comic Sans MS", cursive,sans-serif;
  font-weight: bolder;
}


ul {
  width: 100%;
  padding: 0px;
  list-style: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

li {
  padding: 6px 0px;
}

.on {
  padding-left: 5px;
  position: relative;
  background-color: #726a95;
  color: white;
    
}

.on::after {
  position: absolute;
  right: 2px;
  content: ">";
}

.side-img {
  height: inherit;
  width: inherit;
}

/* play-song */

.now-playing-container {
  width: 250px;
  height: 190px;
  background-color: #709fb0;
}

.song-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  
}

.song-details img {
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top:10px;
  margin-left: 5px;
}

.status {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
   font-family: "Comic Sans MS", cursive,sans-serif;
}

#progress {
  width: 65%;
  height: 10px;
  margin: 0px 5px;
  background-color: gray;
}

#progress-bar {
  height: 10px;
  background-color:rgb(43, 248, 43);
}

.play-pause{
  text-align: center;
  color : rgb(43, 248, 43);  
  font-size: 30px;
  margin-top:10px;
  margin-left: -10px;
}

.song-name{
  margin-top: 16px;
  font-size: 20px;
  margin-left : -20px;
  font-weight: bold;
   font-family: "Comic Sans MS", cursive,sans-serif;

  
}



/* song-menu */
.music {
  width: 250px;
  height: 210px;
  background-color: #709fb0;
}

.head{
  margin-left: 4px;
  margin-top: 4px;
  
}

.song-menu-ul{
  margin-top: -10px;
  height : 126px;
}

#song-names-head{
  margin-top:10px;
}